:root {
    --colour-blue: #0052a4;
    --colour-grey: #646464;
    --colour-lightblue: #4082f4;
    --colour-oldblue: #004294;
    --colour-oldyellow: #f7d117;
    --colour-white: white;
    --colour-yellow: #ffbc00;
}

@media only screen and (max-width: 40rem) {
    html {
        font-size: .8rem;
    }

    .slt,
    .virm,
    .loc1700,
    .icm,
    .mat64 {
        left: 1rem !important;
    }
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 1rem auto;
    max-width: 44rem;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 4rem;
    letter-spacing: -.25rem;
}

h2 {
    font-size: 2rem;
    letter-spacing: -.1rem;
    margin-top: 5rem;
}

p {
    line-height: 1.4;
    margin: 1rem auto;
    max-width: 40rem;
}

footer {
    font-style: italic;
    margin: 8rem auto 2rem;
    max-width: 40rem;
}

.ns-logo {
    background-color: #000463;
    clip-path: polygon(
        .37rem 0,
        0 .37rem,
        .37rem .74rem,
        .58rem .74rem,
        .28rem .45rem,
        .7rem .45rem,
        1rem .74rem,
        1.53rem .74rem,
        1.9rem .37rem,
        1.53rem 0,
        1.32rem 0,
        1.62rem .3rem,
        1.2rem .3rem,
        .9rem 0,
        .83rem 0,
        .83rem .15rem,
        1.14rem .45rem,
        1.62rem .45rem,
        1.47rem .6rem,
        1.09rem .6rem,
        .78rem .3rem,
        .28rem .3rem,
        .43rem .15rem,
        .83rem .15rem,
        .83rem 0
    );
    display: block;
    height: .74rem;
    width: 1.9rem;
}

.frame {
    background-color: skyblue;
    height: 15rem;
    margin: 0 auto;
    max-width: 44rem;
    overflow: hidden;
    position: relative;
}

.grey.frame {
    background-color: #acd;
}

.dark.frame {
    background: linear-gradient(
        to bottom,
        #add2db 0%,
        #eab838 47%,
        #e5882b 80%,
        #d13729 100%
    );
}

.darker.frame {
    background: #8ab;
}

.overhead-line {
    background: #777;
    height: .05rem;
    position: absolute;
    top: 1.5rem;
    width: 100%;
}

.overhead-line::before {
    border: .05rem solid #777;
    border-radius: 50%;
    content: '';
    display: block;
    height: 2rem;
    left: -30rem;
    position: absolute;
    top: -3rem;
    width: 80rem;
}

.landscape {
    background: yellowgreen;
    bottom: 0;
    box-shadow: 0 -.2rem 0 .2rem #cbb,
                0 -.4rem 0 .2rem #aaa;
    display: block;
    height: 3.45rem;
    position: absolute;
    width: 100%;
    z-index: 120;
}

.dark-grass.landscape {
    background-color: #474;
}

.winter.landscape {
    background: #f5f5f5;
}

.brown.landscape {
    background-color: #332200;
}

.sandy.landscape {
    background-color: #dc8;
}

.flower.landscape {
    letter-spacing: -.8rem;
    line-height: .5rem;
    margin-left: -.5rem;
    width: calc(100% + 1rem);
}

.wheels {
    background: #444;
    bottom: -1.3rem;
    display: block;
    height: 1rem;
    position: absolute;
    width: 3.5rem;
}

.long.wheels {
    height: 1.2rem;
    width: 5rem;
}

.wheels::before {
    background: #444;
    border-radius: 50%;
    content: '';
    display: block;
    height: 1.5rem;
    left: -1rem;
    position: absolute;
    width: 1.5rem;
}

.long.wheels::before {
    height: 1.7rem;
    width: 1.7rem;
}

.wheels::after {
    background: #444;
    border-radius: 50%;
    content: '';
    display: block;
    height: 1.5rem;
    position: absolute;
    right: -1rem;
    width: 1.5rem;
}

.long.wheels::after {
    height: 1.7rem;
    width: 1.7rem;
}

.slt {
    display: flex;
    justify-content: flex-start;
    left: 4rem;
    margin-left: 4.3rem;
    position: absolute;
    top: 3.5rem;
}




/**
 * -----------------------------------------------------------------------------
 * SPRINTER LIGHTTRAIN
 * -----------------------------------------------------------------------------
 */

.slt .car {
    background: var(--colour-white);
    border-bottom: .25rem solid var(--colour-yellow);
    display: flex;
    height: 4.8rem;
    margin: 1rem .3rem;
}

.slt .car-1 {
    border-top: 1rem solid var(--colour-blue);
    position: relative;
    top: -1rem;
    width: 29.3rem;
    z-index: 10;
}

.slt .car-1::before {
    border-left: .5rem solid transparent;
    border-top: 2rem solid #888;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: 10rem;
    top: -1.5rem;
    transform: scaleY(.5) scaleX(9);
    width: 2rem;
}

.slt .car-1::after {
    bottom: -1.65rem;
    content: '';
    border-left: .1rem solid transparent;
    border-right: .1rem solid transparent;
    border-top: 2rem solid var(--colour-grey);
    display: block;
    height: 0;
    left: 15rem;
    position: absolute;
    transform: scaleY(.4) scaleX(9);
    width: 2rem;
}

.slt .car-2 {
    border-top: .4rem solid #888;
    box-shadow: -1rem .1rem 0 -.1rem var(--colour-grey),
                 1rem .1rem 0 -.1rem var(--colour-grey);
    position: relative;
    top: -.4rem;
    width: 27.5rem;
}

.slt .car-2::before {
    content: '';
    border-left: .1rem solid transparent;
    border-right: .1rem solid transparent;
    border-top: 2rem solid #888;
    display: block;
    height: 0;
    left: 14rem;
    position: absolute;
    transform: rotate(180deg) scaleY(.4) scaleX(9);
    top: -1.8rem;
    width: 2rem;
}

.slt .drivers-cabin {
    background: var(--colour-white);
    border-radius: 80% 0% 0% 80% / 80% 0% 0% 20%;
    display: block;
    height: 4.8rem;
    position: absolute;
    left: -4.5rem;
    width: 5rem;
}

.slt .drivers-cabin::before {
    background: var(--colour-blue);
    border-radius: 80% 0% 0% 80% / 80% 0% 0% 20%;
    content: '';
    display: block;
    height: 6rem;
    position: absolute;
    top: -1rem;
    width: 5rem;
    z-index: -1;
}

.slt .drivers-cabin::after {
    background: var(--colour-yellow);
    border-radius: 80% 0% 0% 80% / 80% 0% 0% 20%;
    content: '';
    display: block;
    height: 4.8rem;
    position: absolute;
    top: .3rem;
    width: 5rem;
    z-index: -1;
}

.slt .coupler {
    background: var(--colour-grey);
    border-radius: 50% / 50%;
    bottom: -1.2rem;
    display: block;
    height: 4rem;
    position: absolute;
    width: 1rem;
    z-index: -1;
}

.slt .coupler::after {
    bottom: -1rem;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: 3.2rem solid var(--colour-grey);
    content: '';
    display: block;
    height: 0;
    left: 0rem;
    position: absolute;
    transform: scaleY(.4);
    width: 3.2rem;
}

.slt .first-class-section {
    box-shadow: inset 0 .3rem 0 var(--colour-blue),
                inset -.4rem .3rem 0 var(--colour-blue),
                inset .4rem .3rem 0 var(--colour-blue),
                inset 0 .5rem 0 var(--colour-white);
    display: flex;
}

.slt .windows {
    background: var(--colour-blue);
    display: flex;
    height: 2.8rem;
    margin-top: .9rem;
}

.slt .first-class.windows {
    border-bottom-right-radius: .4rem;
    border-top-right-radius: .4rem;
    box-shadow: -1rem 0 var(--colour-blue);
    box-sizing: border-box;
    flex-direction: row-reverse;
    padding-right: .5rem;
    position: relative;
    width: 11.8rem;
}

.slt .first-class.windows::after {
    background: var(--colour-blue);
    border-radius: .4rem;
    content: '';
    display: block;
    height: 2.2rem;
    left: -3rem;
    position: relative;
    top: .3rem;
    transform: scaleX(1.5) rotate(45deg);
    width: 2.2rem; 
}

.slt .car-1 > .second-class.windows {
    border-bottom-left-radius: .4rem;
    border-top-left-radius: .4rem;
    padding-left: .5rem;
    position: relative;
    width: calc(13.8rem - .5rem);
}

.slt .car-2 > .second-class.windows {
    padding-left: .5rem;
}

.slt .doors {
    display: flex;
    float: left;
    margin: .9rem .4rem 0;
}

.slt .door {
    background: var(--colour-yellow);
    display: block;
    height: 4.2rem;
    width: 1.45rem;
}

.slt .door:nth-child(2n+1) {
    border-right: .05rem solid var(--colour-grey);
    border-top-left-radius: .4rem;
}

.slt .door:nth-child(2n+2) {
    border-left: .05rem solid var(--colour-grey);
    border-top-right-radius: .4rem;
}

.slt .drivers-door {
    border-left: .1rem solid #aaa;
    border-right: .1rem solid #aaa;
    display: block;
    height: 2.4rem;
    left: 3.5rem;
    position: relative;
    top: .8rem;
    width: 1.3rem;
    z-index: 10;
}

.slt .window {
    background: repeating-linear-gradient(
        45deg,
        #cbe1e7,
        #d5e7ec 1rem
    );
    border: .1rem solid #333;
    border-radius: .3rem;
    display: block;
    height: 1.5rem;
    margin: .8rem .35rem 0;
}

.slt .driver-window {
    background: #444;
    height: 1rem;
    left: -.1rem;
    position: relative;
    top: -.7rem;
    width: .65rem;
}

.slt .large-window {
    width: 3.2rem;
}

.slt .door-window {
    width: .65rem;
}

.slt .small-window {
    width: 2.2rem;
}

.slt .ns-logo {
    background-color: var(--colour-blue);
    left: 6.3rem;
    position: absolute;
    top: 3.85rem;
}

.slt .wheels-1 {
    left: 1.2rem;
}

.slt .wheels-2 {
    left: 27.7rem;
}




/**
 * -----------------------------------------------------------------------------
 * VERLENGD INTERREGIOMATERIEEL
 * -----------------------------------------------------------------------------
 */

.virm {
    left: 2rem;
    position: absolute;
    top: 2.1rem;
}

.virm * {
    display: block;
    position: absolute;
}

.virm .nose {
    top: 1.8rem;
}

.virm .nose::before {
    background: var(--colour-grey);
    clip-path: polygon(
        7.6rem 0,
        7.6rem 5.3rem,
        2.7rem 5.3rem,
        .1rem 4.5rem,
        .25em 3.5rem,
        1.4rem 1.3rem,
        1.9rem .7rem,
        2.1rem .5rem,
        2.5rem .2rem,
        2.7rem .1rem,
        3.2rem 0
    );
    content: '';
    display: block;
    height: 6.5rem;
    position: absolute;
    top: -.8rem;
    transform: scaleY(1.1);
    width: 7.6rem;
}

.virm .nose::after {
    background: var(--colour-oldyellow);
    clip-path: polygon(
        7.6rem 0,
        7.6rem 5.3rem,
        2.7rem 5.3rem,
        2.7rem 5.5rem,
        2.2rem 6rem,
        .2rem 7rem,
        .6rem 5.5rem,
        .6rem 5.3rem,
        .2rem 4.3rem,
        .2rem 3.6rem,
        1.6rem 1.3rem,
        2.1rem .7rem,
        2.3rem .5rem,
        2.7rem .2rem,
        2.9rem .1rem,
        3.4rem 0
    );
    content: '';
    display: block;
    height: 6.5rem;
    top: 1.8rem;
    width: 7.6rem;
}

.virm .door {
    border: .05rem solid #333;
    border-bottom: .4rem solid #333;
}

.virm .driver.door {
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    height: 3.7rem;
    left: 2.6rem;
    top: 3rem;
    width: 1rem;
}

.virm .driver.door::after {
    background-color: #333;
    content: '';
    display: block;
    height: .3rem;
    position: absolute;
    top: 4rem;
    width: 10rem;
}

.virm .driver.door .window {
    margin: .3rem .2rem;
    width: .4rem;
}

.virm .doors {
    left: 4.8rem;
    top: 2.7rem;
}

.virm .doors::before {
    background-color: var(--colour-oldblue);
    border-bottom-left-radius: .2rem;
    border-top-left-radius: .2rem;
    content: '';
    display: block;
    height: 1.95rem;
    left: -.6rem;
    position: absolute;
    top: .6rem;
    width: 4.3rem;
    z-index: 8;
}

.virm .doors .door {
    height: 4rem;
    width: 1.1rem;
    z-index: 9;
}

.virm .doors .door:nth-child(2n+1) {
    border-top-left-radius: .2rem;
}

.virm .doors .door:nth-child(2n+2) {
    border-top-right-radius: .2rem;
    left: 1.1rem;
}

.virm .doors .door .window {
    height: 1.5rem;
    margin: .6rem .2rem;
    width: .6rem;
}

.virm .decks {
    height: 6.9rem;
    left: 7.5rem;
    top: 1rem;
    width: 30.5rem;
}

.virm .decks::before {
    background-color: var(--colour-grey);
    clip-path: polygon(
        2.1rem 0,
        32.8rem 0,
        32.8rem 3rem,
        0 3rem,
        0 1.8rem
    );
    content: '';
    display: block;
    height: 1.8rem;
    left: -2.2rem;
    position: absolute;
    top: -1rem;
    width: 32.8rem;
}

.virm .decks::after {
    background-color: var(--colour-oldyellow);
    clip-path: polygon(
        1rem 0,
        30.5rem 0,
        30.5rem 6rem,
        29.5rem 6rem,
        28.6rem 6.9rem,
        1.6rem 6.9rem,
        .6rem 6.1rem,
        0 6.1rem,
        0 .8rem
    );
    content: '';
    display: block;
    height: 6.9rem;
    position: absolute;
    width: 30.5rem;
    z-index: 1;
}

.virm .upper-deck {
    background-color: var(--colour-oldblue);
    box-shadow: inset 2.4rem 0 var(--colour-oldyellow);
    display: flex;
    height: 1.4rem;
    left: .5rem;
    top: .4rem;
    width: 30rem;
    z-index: 5;
}

.virm .upper-deck::before {
    background-color: var(--colour-oldblue);
    content: '';
    display: block;
    height: 1.8rem;
    position: relative;
    left: 2.4rem;
    transform: translateY(1rem) translateX(-2.9rem) rotate(-39deg);
    width: 3.85rem;
    z-index: 5;
}

.virm .ns-logo {
    left: 9.9rem;
    top: 2.5rem;
    z-index: 20;
}

.virm .lower-deck {
    background-color: var(--colour-oldblue);
    border-radius: .3rem;
    display: flex;
    height: 1.8rem;
    left: 3.2rem;
    padding-left: 4rem;
    top: 4rem;
    width: calc(23rem - 4rem);
    z-index: 5;
}

.virm .lower-deck::after {
    background-color: var(--colour-grey);
    clip-path: polygon(
        0 0,
        27rem 0,
        26rem .8rem,
        1rem .8rem
    );
    content: '';
    display: block;
    height: .8rem;
    left: -1.7rem;
    position: absolute;
    top: 2.9rem;
    width: 27rem;
}

.virm .window {
    background: repeating-linear-gradient(
        45deg,
        #8ba1b7,
        #95a7bc 1rem
    );
    border: .05rem solid #222;
    border-radius: .2rem;
    margin: 0 .35rem;
    position: static;
    height: 1.2rem;
    width: 2.5rem;
}

.virm .small.window {
    margin-left: .4rem;
    width: .9rem;
}

.virm .upper-deck .small.window {
    margin-left: -.05rem;
}

.virm .lower-deck .window {
    height: 1.3rem;
    margin-top: .2rem;
}

.virm .back {
    background-color: var(--colour-oldyellow);
    box-shadow: 0 -1.4rem var(--colour-oldblue),
                0 -2.2rem var(--colour-grey),
                -.8rem .3rem #333;
    height: 4.2rem;
    left: 37.9rem;
    top: 2.8rem;
    width: 7rem;
}

.virm .back .doors {
    left: 0rem;
    top: 0rem;
}

.virm .back .doors::before {
    left: -1.3rem;
    width: 8rem;
}

.virm .back > .window {
    height: 1.5rem;
    left: 3.8rem;
    position: absolute;
    top: .8rem;
    z-index: 8;
}

.virm .wheels {
    transform: scale(1.1);
    top: 7.3rem;
}

.virm .wheels:nth-child(2n+1) {
    left: 4rem;
}

.virm .wheels:nth-child(2n+2) {
    left: 39rem;
}




/**
 * -----------------------------------------------------------------------------
 * 1700
 * -----------------------------------------------------------------------------
 */
.loc1700 {
    left: 2rem;
    position: absolute;
    top: 4rem;
    transform: scale(1.05);
}

.loc1700 * {
    display: block;
    position: absolute;
}

.loc1700 .roof {
    border-bottom: .5rem solid #555;
    border-left: .3rem solid transparent;
    height: 0;
    left: -.5rem;
    top: -.5rem;
    width: 14.5rem;
}

.loc1700 .roof::before {
    content: '';
    display: block;
    border-bottom: 1rem solid #aaa;
    border-left: .3rem solid transparent;
    height: 0;
    left: 10rem;
    position: absolute;
    top: -1rem;
    width: 8rem;
}

.loc1700 .roof::after {
    background-color: var(--colour-yellow);
    content: '';
    display: block;
    height: .2rem;
    left: -.3rem;
    position: relative;
    top: .5rem;
    width: 9.3rem;
}

.loc1700 .pantograph:nth-child(2n+1) {
    left: 6rem;
}

.loc1700 .pantograph .collector {
    background-color: var(--colour-grey);
    height: .4rem;
    width: .8rem;
}

.loc1700 .pantograph .arm,
.loc1700 .pantograph:nth-child(2n+1) .arm::after {
    background-color: var(--colour-grey);
    height: .2rem;
    width: 2.4rem;
}

.loc1700 .pantograph .control {
    background-color: var(--colour-grey);
    height: .5rem;
    top: -.5rem;
    width: 1.5rem;
}

.loc1700 .pantograph:nth-child(2n+1) .collector {
    left: .6rem;
    top: -2.4rem;
}

.loc1700 .pantograph:nth-child(2n+2) .collector {
    left: 25.2rem;
    top: -.9rem;
}

.loc1700 .pantograph:nth-child(2n+1) .arm {
    left: .8rem;
    top: -1.7rem;
    transform: rotate(25deg);
}

.loc1700 .pantograph:nth-child(2n+1) .arm::after {
    content: '';
    display: block;
    position: absolute;
    transform: rotate(-45deg) translateY(.8rem) translateX(-.3rem);
}

.loc1700 .pantograph:nth-child(2n+2) .arm {
    box-shadow: 0 -.2rem var(--colour-grey);
    left: 23.2rem;
    top: -.4rem;
}

.loc1700 .pantograph:nth-child(2n+2) .control {
    left: 25.2rem;
}

.loc1700 .front {
    background-color: var(--colour-yellow);
    border-bottom: .6rem solid #555;
    height: 3.5rem;
    left: 2.1rem;
    top: .5rem;
    width: 14.3rem;
    z-index: 5;
}

.loc1700 .front::before {
    background-color: #555;
    clip-path: polygon(
        0 0,
        0 1.2rem,
        1rem 1.2rem,
        4rem .6rem,
        4rem 0
    );
    content: '';
    display: block;
    height: 1.2rem;
    left: -.7em;
    position: absolute;
    top: 3.5rem;
    width: 4rem;
    z-index: 3;
}

.loc1700 .front::after {
    background-color: #333;
    content: '';
    display: block;
    height: 1.2rem;
    position: absolute;
    top: 4.1rem;
    width: 14.4rem;
    z-index: 0;
}

.loc1700 .front-window {
    border-top: 1.2rem solid #444;
    border-left: .5rem solid transparent;
    height: 0;
    left: -.5rem;
    top: .2rem;
    width: 1.8rem;
}

.loc1700 .coupler {
    background-color: #444;
    height: .5rem;
    left: -1.8rem;
    top: 4.1rem;
    width: 1.2rem;
    z-index: 0;
}

.loc1700 .coupler::before {
    background-color: #444;
    content: '';
    display: block;
    left: -.2rem;
    position: absolute;
    top: -.1rem;
    width: .2rem;
    height: .8rem;
}

.loc1700 .nose {
    background-color: var(--colour-yellow);
    clip-path: polygon(
        1.6rem 0,
        1.6rem 2rem,
        .5rem 2rem,
        .2rem .5rem
    );
    height: 2rem;
    left: -1.5rem;
    top: 1.5rem;
    width: 2rem;
}

.loc1700 .door {
    border: .05rem solid var(--colour-grey);
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    height: 3.3rem;
    left: 2rem;
    top: .2rem;
    width: 1.1rem;
}

.loc1700 .door .window {
    background-color: gray;
    border: .05rem solid var(--colour-grey);
    border-radius: .2rem;
    height: 1.2rem;
    left: .15rem;
    top: .15rem;
    width: .7rem;
}

.loc1700 .ns-logo {
    background-color: black;
    left: 3.7rem;
    top: .5rem;
    transform: scale(1.5);
}

.loc1700 .number {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    left: 6.1rem;
    top: 2.2rem;
}

.loc1700 .vents {
    background: repeating-linear-gradient(
        90deg,
        #333,
        #444 .2rem
    );
    height: 1.9rem;
    left: 6.2rem;
    top: .3rem;
    width: 8.3rem;
}

.loc1700 .wheels {
    left: 3rem;
    top: 4.5rem;
    z-index: 4;
}

.loc1700 .box {
    background-color: #333;
    left: 12.5rem;
    height: 1.5rem;
    top: 4.3rem;
    width: 1.8rem;
}

.loc1700 .mirrored {
    left: 16.3rem;
    transform: scaleX(-1);
}

.loc1700 .mirrored .ns-logo {
    transform: scaleX(-1) scale(1.5);
}




/**
 * -----------------------------------------------------------------------------
 * INTERCITYMATERIEEL
 * -----------------------------------------------------------------------------
 */

.icm {
    left: 3rem;
    position: absolute;
    top: 1.8rem;
}

.icm .car {
    background-color: var(--colour-oldyellow);
    border-bottom: .4rem solid var(--colour-grey);
    display: block;
    height: 5rem;
    position: absolute;
    top: 2.5rem;
    width: 50rem;
    z-index: 2;
}

.icmm .car {
    background-color: var(--colour-yellow);
}

.icm .car::before {
    background-color: var(--colour-oldyellow);
    border-radius: 50%;
    content: '';
    display: block;
    height: 4.5rem;
    left: -.1rem;
    position: relative;
    top: .2rem;
    width: .2rem;
}

.icmm .car::before {
    background-color: var(--colour-yellow);
}

.icm .car::after {
    bottom: -1.5rem;
    content: '';
    border-left: .05rem solid transparent;
    border-right: .05rem solid transparent;
    border-top: 2rem solid var(--colour-grey);
    display: block;
    height: 0;
    left: 27rem;
    position: absolute;
    transform: scaleY(.4) scaleX(14);
    width: 2rem;
}

.icm .roof {
    background-color: var(--colour-grey);
    clip-path: polygon(
        3.8rem 0,
        8rem 0,
        17.5rem 1.2rem,
        45rem 1.2rem,
        45rem 2.2rem,
        0 2.2rem,
        2rem 1.5rem,
        2rem 1.2rem,
        2.8rem 1.2rem,
        3rem 1.2rem
    );
    display: block;
    height: 2.3rem;
    position: absolute;
    top: -2.2rem;
    width: 45rem;
}

.icm .roof::after {
    background-color: #333;
    clip-path: polygon(
        3.9rem .2rem,
        6.5rem .2rem,
        6.2rem .9rem,
        3.3rem 1.1rem
    );
    content: '';
    display: block;
    height: 3rem;
    position: absolute;
    width: 7rem;
}

.icm .vent {
    background-color: var(--colour-grey);
    border-radius: .2rem;
    display: block;
    height: .6rem;
    left: .2rem;
    position: absolute;
    top: .8rem;
    width: .6rem;
}

.icm .headlight {
    background-color: var(--colour-grey);
    border-radius: .2rem;
    display: block;
    height: 1rem;
    left: .2rem;
    position: absolute;
    top: 3.6rem;
    width: .5rem;
}

.icm .blue-strip {
    background-color: var(--colour-oldblue);
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    display: block;
    height: 2.9rem;
    left: 4rem;
    position: absolute;
    top: .6rem;
    width: 42rem;
}

.icmm .blue-strip {
    background-color: var(--colour-blue);
}

.icmm .blue-strip::before {
    background-color: var(--colour-blue);
    border-radius: 50% 50% 50% 50% / 50% 0% 0% 50%;
    content: '';
    display: block;
    height: 2.9rem;
    right: 2.9rem;
    position: relative;
    width: 3.4rem;
}

.icm .blind {
    background-color: white;
    border: .05rem solid #333;
    border-radius: .1rem;
    display: block;
    height: .5rem;
    left: .5rem;
    position: absolute;
    top: .2rem;
    width: 1rem;
}

.icmm .blind {
    background-color: #222;
    height: .6rem;
    left: 0;
    width: 2rem;
}

.icm .doors {
    box-shadow: 0 .5rem var(--colour-grey);
    display: flex;
    left: 6.1rem;
    position: absolute;
    top: 0;
}

.icm .door {
    border: .05rem solid #333;
    display: block;
    height: 4rem;
    width: 1.4rem;
}

.icm .door:nth-child(2n+1) {
    border-top-left-radius: .2rem;
    margin-right: -.05rem;
}

.icm .door:nth-child(2n+2) {
    border-top-right-radius: .2rem;
    margin-left: -.05rem;
}

.icm .door .window {
    margin: .4rem .3rem;
    width: .6rem;
}

.icm .windows {
    display: flex;
    position: absolute;
    left: 10.3rem;
    top: .5rem;
}

.icm .window {
    background: repeating-linear-gradient(
        45deg,
        #8ba1b7,
        #95a7bc 1rem
    );
    border: .05rem solid #333;
    border-radius: .2rem;
    display: block;
    height: 1.75rem;
}

.icm .small.window {
    left: 4.1rem;
    position: absolute;
    top: .5rem;
    width: 1rem;
}

.icm .normal.window {
    margin: 0 .45rem;
    width: 3.2rem;
}

.icm .chin {
    border-top: 1rem solid var(--colour-grey);
    border-right: 3rem solid transparent;
    height: 0;
    position: absolute;
    top: 7.6rem;
    width: 0;
}

.icm .chin::after {
    border-bottom: .5rem solid var(--colour-grey);
    border-right: 3rem solid transparent;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
    top: -1.5rem;
    z-index: 10;
}

.icm .ns-logo {
    background-color: black;
    left: 15.5rem;
    position: absolute;
    top: 3.8rem;
}

.icmm .ns-logo {
    background-color: var(--colour-blue);
    left: 19.9rem;
    position: absolute;
    top: 3.9rem;
}

.icm .wheels {
    top: 7.6rem;
    left: 4.5rem;
    z-index: 1;
}




/**
 * -----------------------------------------------------------------------------
 * MATERIEEL ’64
 * -----------------------------------------------------------------------------
 */

.mat64 {
    position: absolute;
    left: 2rem;
    top: 4.5rem;
    transform: scale(.95);
}

.mat64 .car {
    background-color: var(--colour-oldyellow);
    box-shadow: -1.9rem 0 var(--colour-oldyellow),
                -3rem -1rem 0 -1rem var(--colour-oldyellow),
                -3.6rem -.5rem 0 -1rem var(--colour-oldyellow),
                0 -1rem var(--colour-grey);
    display: block;
    height: 5.1rem;
    left: 6.5rem;
    position: absolute;
    width: 40rem;
    z-index: 50;
}

.mat64 .roof-front {
    background: var(--colour-grey);
    border-radius: 50%;
    height: 2.4rem;
    left: -2.2rem;
    position: absolute;
    top: -1rem;
    width: 4rem;
    z-index: 5;
}

.mat64 .roof-front::after {
    background: var(--colour-oldyellow);
    content: '';
    display: block;
    height: 1.4rem;
    position: absolute;
    top: 1rem;
    width: 4.4rem;
}

.mat64 .nose {
    background: var(--colour-oldyellow);
    border-radius: 80% 20% 20% 20% / 50% 50% 50% 50%;
    bottom: 0;
    display: block;
    height: 3.8rem;
    left: -5.5rem;
    position: absolute;
    width: 4rem;
}

.mat64 .nose::before {
    background: var(--colour-oldyellow);
    border-radius: 50%;
    content: '';
    display: block;
    height: .5rem;
    left: 1.8rem;
    position: absolute;
    top: -.9rem;
    transform: rotate(-58deg);
    width: 2.7rem;
    z-index: -1;
}

.mat64 .nose::after {
    background: var(--colour-oldyellow);
    bottom: 0;
    content: '';
    display: block;
    height: 2rem;
    position: absolute;
    width: 4rem;
}

.mat64 .nose .headlight {
    background: var(--colour-grey);
    border-radius: 40%;
    display: block;
    position: absolute;
    height: .7rem;
    left: -.2rem;
    top: 2.2rem;
    width: 1rem;
    z-index: 5;
}

.mat64 .chin {
    background: var(--colour-grey);
    border-radius: .7rem;
    bottom: -.9rem;
    display: block;
    height: 2rem;
    left: -5rem;
    position: absolute;
    transform: scaleX(1.2) rotate(45deg);
    width: 1.8rem;
    z-index: -2;
}

.mat64 .stripes {
    position: absolute;
    left: 18.9rem;
    top: .25rem;
}

.mat64 .stripe {
    background: var(--colour-lightblue);
    display: block;
    float: left;
    height: 4.7rem;
    margin-right: .8rem;
    transform: skew(-27deg);
    width: 2.5rem;
}

.mat64 .doors {
    display: flex;
}

.mat64 .mail.doors,
.mat64 .passenger.doors {
    position: absolute;
    top: .7rem;
    z-index: 6;
}

.mat64 .mail.doors {
    left: 2.1rem;
}

.mat64 .driver.door,
.mat64 .mail.doors > .door {
    background-color: var(--colour-grey);
    border: .05rem solid #333;
    box-shadow: inset 0 4rem var(--colour-oldyellow);
    display: block;
    height: 4.4rem;
    width: 1.5rem;
}

.mat64 .driver.door {
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    left: -.9rem;
    position: absolute;
    top: .7rem;
    width: 1.1rem;
    z-index: 7;
}

.mat64 .driver.door .window {
    position: absolute;
    left: -.15rem;
}

.mat64 .mail.doors > .door:nth-child(2n+1) {
    border-right: .05rem solid #333;
    border-top-left-radius: .2rem;
}

.mat64 .mail.doors > .door:nth-child(2n+2) {
    border-left: .05rem solid #333;
    border-top-right-radius: .2rem;
}

.mat64 .first.passenger.doors {
    left: 7.5rem;
}

.mat64 .second.passenger.doors {
    left: 29.4rem;
}

.mat64 .passenger.doors > .door {
    background: var(--colour-grey);
    display: block;
    height: 4.4rem;
    width: 1.3rem;
}

.mat64 .window {
    border: .1rem solid #555;
    border-radius: .3rem;
    height: 2rem;
    margin: .8rem .35rem 0;
}

.mat64 .window,
.mat64 .front-window-1 {
    background: repeating-linear-gradient(45deg, #8ba1b7, #95a7bc 1rem);
    display: block;
}

.mat64 .front-windows {
    display: flex;
    left: -2.8rem;
    position: absolute;
    top: .6rem;
    transform: rotate(28deg);
    z-index: 11;
}

.mat64 .front-window-1 {
    border: .1rem solid #555;
    border-radius: 20%;
    height: 1.2rem;
    width: .3rem;
}

.mat64 .front-window-2 {
    border-bottom: .5rem solid transparent;
    border-left: .7rem solid var(--colour-oldyellow);
    border-top: .5rem solid transparent;
    height: 0;
    margin-left: .3rem;
    margin-top: .1rem;
    width: 0;
    z-index: 14;
}

.mat64 .front-window-2-border {
    border-bottom: .7rem solid transparent;
    border-left: 1rem solid #555;
    border-top: .7rem solid transparent;
    content: '';
    height: 0;
    left: -.8rem;
    position: relative;
    top: -.05rem;
    width: 0;
    z-index: 13;
}

.mat64 .driver.door .window,
.mat64 .mail.doors .window,
.mat64 .passenger.doors .window {
    height: 1.8rem;
    margin-top: .3rem;
    width: .55rem;
}

.mat64 .passenger.doors > .door:nth-child(2n+1) {
    border-right: .05rem solid #333;
    border-top-left-radius: .2rem;
}

.mat64 .passenger.doors > .door:nth-child(2n+2) {
    border-left: .05rem solid #333;
    border-top-right-radius: .2rem;
}

.mat64 .windows {
    display: flex;
    position: absolute;
}

.mat64 .windows .window hr {
    border: 0;
    border-top: .1rem solid #555;
}

.mat64 .first.windows {
    left: 10.7rem;
}

.mat64 .second.windows {
    left: 32.6rem;
}

.mat64 .windows .window {
    width: 2.3rem;
}

.mat64 .manager-cabin {
    position: absolute;
    left: 26.5rem;
    top: .3rem;
}

.mat64 .manager-cabin .blind {
    background: white;
    border: .1rem solid #555;
    border-radius: .2rem;
    display: block;
    height: .5rem;
    width: 2rem;
}

.mat64 .manager-cabin .window {
    height: 1.6rem;
    margin-top: .2rem;
}

.mat64 .ns-logo {
    background-color: black;
    left: 11.4rem;
    position: absolute;
    top: 3.7rem;
}

.mat64 .wheels {
    bottom: -1.3rem;
}

.mat64 .wheels-2 {
    position: absolute;
    left: 34rem;
}

.mat64 .mystery-box-1,
.mat64 .mystery-box-2,
.mat64 .mystery-box-3 {
    background: var(--colour-grey);
    bottom: -1.2rem;
    display: block;
    height: 1.2rem;
    position: absolute;
}

.mat64 .mystery-box-1 {
    left: 16rem;
    width: 1.5rem;
}

.mat64 .mystery-box-2 {
    left: 21rem;
    width: 4.4rem;
}

.mat64 .mystery-box-3 {
    left: 27.5rem;
    width: 1rem;
}
